<MudContainer>
    <div style="display:flex;flex-direction:row;align-items: center">
        <MudText Typo="Typo.h6">Layers</MudText>
        <MudSpacer></MudSpacer>
    </div>
    <MudList Clickable="true" Dense="true">
        @{
            var i = 0;
        }
        @foreach (var layer in Diagram.Layers)
        {
            <MudListItem @bind-SelectedItem="@_selectedItem"
                         @bind-SelectedValue="@_selectedValue"
                         @onpointerdown="ctx => OnSelectionChanged.InvokeAsync(layer)"
                         Icon="@Icons.Material.Filled.Layers"
                         Dense="true"
                         Text="@($"Layer {i}")">
                <NestedList>
                    @foreach (var node in layer.Nodes)
                    {
                        <MudListItem Icon="@Icons.Material.Filled.CropSquare" Text="Node" @onpointerdown="ctx => Select(node)"> </MudListItem>
                    }
                    @foreach (var group in layer.Groups)
                    {
                        <MudListItem Text="Group" Icon="@Icons.Material.Filled.Square" @onpointerdown="tx => Select(group)">
                            <NestedList>
                                @foreach (var node in group.Nodes)
                                {
                                    <MudListItem Icon="@Icons.Material.Filled.CropSquare" Text="Node" @onpointerdown="tx => Select(node)"> </MudListItem>
                                }
                            </NestedList>
                        </MudListItem>
                    }
                </NestedList>
            </MudListItem>
            <MudDivider></MudDivider>
            i++;
        }
    </MudList>
</MudContainer>

@code {
    [Parameter][EditorRequired] public required Diagram Diagram { get; set; }
    [Parameter] public EventCallback<object?> OnSelectionChanged { get; set; }
    MudListItem? _selectedItem;
    object? _selectedValue = null;

    private Task OnLayerVisibilityChanged(bool isVisible, ILayer layer)
    {
        layer.IsVisible = isVisible;
        return Task.CompletedTask;
    }

    private void Select(ISelectable model)
    {
        Diagram.UnselectAll();
        model.IsSelected = true;
        OnSelectionChanged.InvokeAsync(model);
    }

}