@using Blazor.Flows.Services.Diagrams
@implements IDisposable
@implements IDepth;
@if (Layer is not null && Layer.IsVisible)
{
    <div id="@(ContainerId)">
        @* @key is important otherwise there are rendering errors*@
        @foreach (var item in Layer.AllGroups)
        {
            <GroupContainer Group="@item" @key="item.Id"></GroupContainer>
        }
        @foreach (var item in Layer.AllNodes)
        {
            <NodeContainer Node="@item" @key="item.Id"></NodeContainer>
        }
        @foreach (var item in Layer.AllLinks)
        {
            <LinkContainer Link="@item" @key="item.Id"></LinkContainer>
        }
        @foreach (var item in Layer.AllPorts)
        {
            <PortContainer Port="@item" @key="item.Id"></PortContainer>
        }
    </div>
}

@code {

    /// <summary>
    /// Cascading from <see cref="DiagramContainer"/>.
    /// </summary>
    [CascadingParameter]
    public required IDiagramService DiagramService { get; set; }

    /// <summary>
    /// Layer to be rendered.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required ILayer Layer { get; set; }

    /// <inheritdoc />
    [Parameter]
    [EditorRequired]
    public required int ZIndex { get; set; }

    /// <summary>
    /// ID of the layer container
    /// </summary>
    public string ContainerId => $"layer-container-{Layer.Id}";

    private List<IDisposable> _subscriptions = [];
    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _subscriptions =
            [
                DiagramService.Events.SubscribeWhere<LayerRedrawEvent>(p => p.Model.Id == Layer.Id, Redraw),
            ];
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void Redraw(IEvent e)
    {
        StateHasChanged();
    }

    /// <inheritdoc />
    public void Dispose()
    {
        _subscriptions.DisposeAll();
    }

}