@page "/diagram-container-component"
@using MudBlazor.Utilities
 
<MudContainer MaxWidth="MaxWidth.False" Style="height:100%; padding-top: 20px;">
    <MudGrid Style="height:100%">

        <MudItem xs="12" sm="12" md="6" Style="height:100%">
            <MudPaper Class="pa-4 mud-height-full overflow-y-auto" Elevation="4">
                <MudText Typo="Typo.h4" Color="Color.Primary" Class="mb-6">
                    The diagram
                </MudText>

                <MudExpansionPanels MultiExpansion="true">

                    <MudExpansionPanel Text="@($"{nameof(DiagramContainer)} Component")" Expanded="true">
                        <CodeHighlighter Code="@diagramContainerCode" Language="cshtml"></CodeHighlighter>
                        <MudText Typo="Typo.body1" Class="mt-4">
                            The <b>@($"{nameof(DiagramContainer)}")</b> component takes up all of the available space of the parent component and it's responsible for drawing the diagram elements to the webpage.
                            It requires a <b>@($"{nameof(IDiagramService)}")</b> implementation as a parameter.
                        </MudText>
                    </MudExpansionPanel>

                    <MudExpansionPanel Text="@($"{nameof(DiagramService)}")" Expanded="true">
                        <MudText Typo="Typo.body1" GutterBottom="true">
                            The <b>@($"{nameof(DiagramService)}")</b> class is the best way of interacting with the diagram. With it you can:
                        </MudText>
                        <MudList Dense="true" T="object">
                            <MudListItem Icon="@Icons.Material.Filled.Add">Add/Remove Layers, Nodes, Groups, Ports and Links.</MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Settings">Register, enable and disable behaviours.</MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Event">Subscribe and unsubscribe from events.</MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Edit">Edit diagram options.</MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Save">Save and load a diagram.</MudListItem>
                        </MudList>
                    </MudExpansionPanel>

                    <MudExpansionPanel Text="Diagram Options" Expanded="true">
                        <MudText GutterBottom="true" Typo="Typo.body1">
                            Through the diagram service, you can access the Diagram Options object. This will allow you to customize how the diagram looks and works.
                        </MudText>
                        <MudDivider Class="my-4"/>

                        <MudText Typo="Typo.subtitle1" GutterBottom="true">Style Options</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary mb-3">
                            Allows you to override diagram container style and the grid style.
                        </MudText>
                        <MudStack Spacing="3">
                            <MudTextField Immediate="true" Lines="2" Label="Diagram container style" @bind-Value="Service.Diagram.Options.Style.ContainerStyle"/>
                            <MudTextField Immediate="true" Lines="2" Label="Diagram grid style" @bind-Value="Service.Options.Styling.GridStyle"/>
                            <MudNumericField T="int" Immediate="true" Label="Grid cell size (pixels)" @bind-Value="Service.Options.Styling.CellSize"/>
                            <MudNumericField T="int" Immediate="true" Label="Grid line thickness (pixels)" @bind-Value="Service.Options.Styling.GridLineThickness"/>

                            <MudColorPicker Label="Grid line color (RGB)" ColorPickerMode="ColorPickerMode.RGB" ShowAlpha="false" ShowModeSwitch="false"
                                            Text="@Service.Options.Styling.GridLineColor" Editable="false"
                                            TextChanged="OnTextChanged"/>

                            <MudNumericField T="decimal" Immediate="true" Label="Grid cell opacity (0 - 1)" Max="1" Min="0" Step="0.1m" @bind-Value="Service.Options.Styling.GridLineOpacity"/>

                            <MudSwitch @bind-Value="@Service.Options.Styling.GridEnabled"
                                       Color="Color.Primary"
                                       Label="Show/Hide Grid"
                                       LabelPlacement="Placement.Start"/>
                        </MudStack>

                        <MudDivider Class="my-4"/>

                        <MudText Typo="Typo.subtitle1" GutterBottom="true">Virtualization Options</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary mb-3">
                            Allows you to enable/disable virtualization.
                        </MudText>
                        <MudStack Spacing="3">
                            <MudSwitch Label="Enable virtualization" @bind-Value="Service.Options.Virtualization.IsEnabled" Color="Color.Primary"/>
                            <MudNumericField T="int" Immediate="true" Label="Buffer size" HelperText="Bigger allows more items further offscreen."
                                             @bind-Value="Service.Options.Virtualization.BufferSize"/>
                        </MudStack>
                    </MudExpansionPanel>

                </MudExpansionPanels>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="6" Style="height:100%">
            <MudPaper Class="mud-height-full" Elevation="4">
                <DiagramShowcase Service="Service"></DiagramShowcase>
            </MudPaper>
        </MudItem>

    </MudGrid>
</MudContainer>

@code {

    readonly string diagramContainerCode =
        @"<div style=""display:flex;flex-direction:row;justify-content:center;width:100%; height:100%"">
<DiagramContainer DiagramService=""Service""></DiagramContainer>
</div>
@code
{
    [Inject]
    IDiagramService Service {get;set;}
}
";

    [Inject] public IDiagramService Service { get; set; } = null!;

    private void OnTextChanged(string hex)
    {
        var color = new MudColor(hex);
// Converts the hex color to an RGB string for the Diagram library
        Service.Options.Styling.GridLineColor = $"{color.R},{color.G},{color.B}";
    }

}